<div class="download_category" id="download_category-<%= download_category.id %>">
  <h2><%= download_category.name %></h2>
  
  <div class="download_category-downloads">
    <%= render download_category.ecm_downloads_downloads %>
  </div>  
</div>
